<!DOCTYPE html>
<html>
  <head>
    <title>angular-growl demo</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-mocks.js"></script>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">

    <link href="../src/growl.css" rel="stylesheet">
    <script src="../src/growl.js"></script>
    <script src="../src/growlDirective.js"></script>
    <script src="../src/growlFactory.js"></script>
    <script src="demo.js"></script>
  </head>
  <body ng-app="demo">
    <div ng-controller="demoCtrl">
      <div class="text-center container"><h1>angular-growl Demo site</h1></div>
      <div class="container">
        <div class="well row">
          <div growl></div>
          <label>
            Message type<br/>
          </label>
          <div class="btn-group">
            <label>
              <input type="radio" name="alertType" ng-model="alertType" value="success">
              success
            </label>
            <label>
              <input type="radio" name="alertType" ng-model="alertType" value="info">
              info
            </label>
            <label>
              <input type="radio" name="alertType" ng-model="alertType" value="warn">
              warn
            </label>
            <label>
              <input type="radio" name="alertType" ng-model="alertType" value="error">
              error
            </label>
          </div>
          <label>
            Message text
            <input type="text" ng-model="message">
          </label>
          <label>
            Timeout (this demo has a standard timeout of 2000 ms, enter a number to override standard or -1 for no timeout)
            <input type="number" ng-model="timeout">
          </label>
          <button ng-click="createMessage()">Create Message</button>
        </div>
        <div class="well row">
          <button ng-click="simulateServerMessages()">Simulate backend call to create fake server messages</button>
        </div>
      </div>
      <div class="container">
        <div class="well row">
          <div growl reference="1" inline="true"></div>
          <button ng-click="inlineMessage(1)">Create Message for this well</button>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
